.sudokuCell {
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 70px;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
#box {
    width: 600px;
    margin: auto;
}
.bottom {
    border-bottom-width: 7px;
    border-color: black;
}
.right {
    border-right-width: 7px;
    border-color: black;
}

.incorrect {
    background-color: red;
}

.clicked-grey {
    background-color: grey;
}

.clicked-red {
    background-color: red;
}

.clicked {
    background-color: yellow;
}

.empty-cell {
    background-color: lightgrey;
}